main {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

main div.mainArticle {
    display: flex;
    flex-direction: column-reverse;
}

main article {
    display: block;
}

main article .news a {
    text-decoration: none;
}

main article .news a:hover {
    text-decoration: underline;
}

main article .news a h1,
main article .news a h2 {
    font-size: 25px;
    line-height: 30px;
    text-transform: capitalize;
    text-align: center;
    color: black;
    padding: 12px 6px 6px;
    margin: 5px 20px;
    border-top: 1px solid #ccc;
    margin-bottom: 5px;
    font-weight: 700;
}

main article .news a img {
    width: 100%;
    height: auto;
    margin: 5px auto 0;
}

main article .news figure span {
    position: relative;
    right: 0px;
    top: -35px;
    background-image: linear-gradient(rgb(46, 46, 46), rgb(19, 19, 19));
    border-radius: 5px;
    border: 1.5px solid #000;
    color: #fff;
    padding: 4px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

main article .news figure span:hover {
    background-color: #e2e2e2;
}

main article .news figcaption {
    color: #777;
    line-height: 18px;
    font-size: 12px;
    margin: 2px 10px;
}

main article .news span {
    color: #777;
    margin: 10px;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
}

main article .news p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333;
    padding: 15px;
}

/* -----------------Tablet----------------- */
@media screen and (min-width: 481px) {
    main {
        display: inline-flex;
    }

    main div.mainArticle {
        flex-direction: row-reverse;
    }
}
/* -----------------Desktop----------------- */
@media screen and (min-width: 769px) {

}