main .mainArticle .advertisement ul,
main .rightAside ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main .mainArticle .advertisement ul li {
    padding: 10px;
    margin: 40px 0;
    width: 100%;
    height: auto;
}

main .rightAside ul li {
    margin: 12px 0;
    width: 95%;
    height: auto;
}

main .mainArticle .advertisement ul li a {
    display: flex;
    justify-content: center;
    margin: 2px 0;
    text-decoration: none;
}

main .rightAside ul li figure a {
    display: flex;
    justify-content: center;
    margin: 2px 0;
    text-decoration: none;
}

main .mainArticle .advertisement ul li a img,
main .altAdvertisement #mobileAdvertisement img,
main .rightAside ul li figure a img {
    width: 100%;
    height: auto;
}

main .altAdvertisement #mobileAdvertisement {
    list-style: none;
    margin-top: 40px;
    background-color: #000;
}

main .rightAside ul li figure a figcaption {
    color: rgb(36, 36, 36);
    font-size: 16px;
    line-height: 22px;
    margin: 4px;
}

main .rightAside ul li figure a figcaption:hover {
    text-decoration: underline;
}

main .mainArticle .advertisement #desktopAdvertisement {
    display: none;
}

/* -----------------Tablet----------------- */
@media screen and (min-width: 481px) {

}
/* -----------------Desktop----------------- */
@media screen and (min-width: 769px) {

}