footer {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}

footer .links1,
footer .links2,
footer .pageInfo {
    background-color: #000;
    color: rgb(46, 46, 184);
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
}

footer .links1 h3,
footer .links2 h3 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px;
}

footer .links1 a,
footer .links2 a {
    text-decoration: none;
    line-height: 1.5;
    color: #ccc;
}

footer .links1 a:hover,
footer .links2 a:hover {
    text-decoration: underline;
}

footer .pageInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .pageInfo h4 {
    padding: 10px;
    font-size: 16px;
}

footer .pageInfo .social {
    display: flex;
    justify-content: center;
    width: 20%;
}

footer .pageInfo .social a {
    text-decoration: none;
    margin: 4px;
}

footer .pageInfo .social i {
    width: 15px;
}

footer .pageInfo span {
    padding: 10px;
    font-size: 12px;
}

footer .pageInfo .social .fa-facebook-square {
    color: #3b5998;
    opacity: 0.5;
}

footer .pageInfo .social .fa-facebook-square:hover {
    opacity: 1;
}

footer .pageInfo .social .fa-twitter-square {
    color: #00acee;
    opacity: 0.5;
}

footer .pageInfo .social .fa-twitter-square:hover {
    opacity: 1;
}

footer .pageInfo .social .fa-instagram {
    color: #405de6;
    opacity: 0.5;
}

footer .pageInfo .social .fa-instagram:hover {
    opacity: 1;
}

footer .pageInfo .social .fa-linkedin {
    color: #0e76a8;
    opacity: 0.5;
}

footer .pageInfo .social .fa-linkedin:hover {
    opacity: 1;
}

@media screen and (min-width: 481px) {

}

@media screen and (min-width: 769px) {

}