header {
    background-color: black;
}

header .topHeader {
    display: inline-flex
}

header .topHeader .logo {
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: black;
}

header .topHeader .logo img {
    width: 20%;
}

header .topHeader .login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

header .date {
    display: flex;
    justify-content: space-around;
    color: #eee;
}

header .date span {
    text-transform: uppercase;
    font-size: 10px;
    margin: 5px;
}

section nav {
    display: none;
}