header {
    background-color: black;
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}

header .topHeader {
    display: inline-flex;
    justify-content: space-between;
}

header .topHeader .logo {
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: black;
}

header .topHeader .logo img {
    width: 25%;
    margin: 10px;
}

header .topHeader .menu,
header .topHeader .login {
    display: flex;
    align-items: center;
    padding: 15px;
}

header .topHeader .menu i,
header .topHeader .login a i {
    font-size: 6vw;
    color: #eee;
}

header .topHeader .menu i span,
header .topHeader .login a i span {
    display: none;
} 

header .topHeader .login {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .date {
    display: flex;
    justify-content: space-between;
    color: #eee;
}

header .date span {
    text-transform: uppercase;
    font-size: 10px;
    margin: 5px;
}

section nav {
    display: none;
}

/* -----------------Tablet----------------- */

@media screen and (min-width: 481px) {
    header .date span {
        font-size: 14px;
    }

    header .topHeader .logo {
        width: 40%;
    }

    header .topHeader .logo img {
        width: 40%;
    }

    header .topHeader .menu i,
    header .topHeader .login a i {
        display: inline-flex;
        margin: 0px;
        width: 100%;
        font-size: 30px;
    }

    header .topHeader .login a i {
        flex-direction: row-reverse;
    }

    header .topHeader .menu a i span,
    header .topHeader .login a i span {
        display: flex;
        align-items: center;
        margin: 0px 10px;
        width: 50px;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
    }
}

/* -----------------Desktop----------------- */

@media screen and (min-width: 769px) {
    section nav {
        display: block;
        background-color: #000;
    }

    section nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    section nav ul li {
        padding: 15px;
    }

    section nav ul li a {
        color: #eee;
        text-transform: uppercase;
        font-size: 12px;
    }
    
    header .topHeader .menu {
        display: none;
    }
}