header {
    background-color: black;
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}

header .topHeader {
    display: inline-flex;
}

header .topHeader .logo {
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: black;
}

header .topHeader .logo img {
    width: 25%;
}

header .topHeader .menu {
    display: flex;
    align-items: center;
    padding: 15px;
}

header .topHeader .menu i {
    color: #eee;
}

header .topHeader .login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin-right: 10px;
}

header .topHeader .login a i {
    color: #eee;
}

header .date {
    display: flex;
    justify-content: space-around;
    color: #eee;
}

header .date span {
    text-transform: uppercase;
    font-size: 10px;
    margin: 5px;
}

section nav {
    display: none;
}

@media screen and (min-width: 481px) {

}

@media screen and (min-width: 769px) {

}